# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives
In this lab you will: 
* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [2]:
# Your code here
df['stars_squared'] = df['stars'] **2

## Dates
Select the month from the date string using a lambda function.

In [9]:
# Your code here
import calendar
months = df['date'].map(lambda x: calendar.month_name[int(x[5:7])])
months

1        November
2         October
4       September
5        February
10           June
          ...
689          June
4874       August
564          June
3458      October
4206       August
Name: date, Length: 2610, dtype: object

## What is the average number of words for a yelp review?
Do this with a single line of code!

In [16]:
# Your code here
df['text'].str.len().mean()

417.911877394636

i had no idea there were specific `str.` methods for `Series` type https://pandas.pydata.org/docs/reference/api/pandas.Series.str.len.html

## Create a new column for the number of words in the review

In [20]:
# Your code here
df['rev_word_count'] = df['text'].str.split(" ").str.len()
df['rev_word_count']

1        58
2        30
4        30
5        82
10       34
       ...
689      65
4874     43
564      81
3458    185
4206     42
Name: rev_word_count, Length: 2610, dtype: int64

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column you just created.

In [22]:
# Rewrite the following function as a lambda function

# def rewrite_as_lambda(value):
#     if len(value) < 50:
#         return 'Short'
#     elif len(value) < 80:
#         return 'Medium'
#     else:
#         return 'Long'

# Hint: nest your if, else conditionals

df['Review_length'] = df['rev_word_count'].map(lambda y: 'Short' if y < 50 else('Medium' if y < 80 else 'Long'))
df['Review_length']

1       Medium
2        Short
4        Short
5         Long
10       Short
         ...
689     Medium
4874     Short
564       Long
3458      Long
4206     Short
Name: Review_length, Length: 2610, dtype: object

## Level Up: Dates Advanced!
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [23]:
# Your code here
df['date'].head(5)

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [30]:
# Your code here
import datetime as dt
df['date'] = pd.to_datetime(df['date']).apply(lambda day: dt.datetime.strftime(day, '%d/%m/%y'))
df['date']

1       13/11/12
2       23/10/14
4       09/05/14
5       25/02/11
10      15/06/16
          ...
689     06/02/13
4874    14/08/16
564     14/06/16
3458    10/02/13
4206    15/08/16
Name: date, Length: 2610, dtype: object

## Summary

Great! Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.